<h2 class="mt-3">Payment</h2>

<div class="container form-container">
  <form>
    <div class="mb-3">
    <h6>Address</h6>
      <%= current_user.address %>
      <div style="text-align:end; margin-top:30px;">
        <%= link_to 'Change Address', edit_user_registration_path, class:"btn btn-primary" %>
      </div>
    </div>
    <br>
    <h6>Payment Method</h6>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="paymentoption" id="paymentoption1">
      <label class="form-check-label" for="paymentoption1">
        Google Pay
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="paymentoption" id="paymentoption2" >
      <label class="form-check-label" for="paymentoption2">
        Phone Pe
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="paymentoption" id="paymentoption3" >
      <label class="form-check-label" for="paymentoption3">
        UPI
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="paymentoption" id="paymentoption4" >
      <label class="form-check-label" for="paymentoption4">
        Net Banking
      </label>
    </div>
    <br>
    <h6>Amount to Pay:&emsp;&emsp;&emsp;&emsp; ₹ <%= @cart.sub_total %></h6>
    <br>
    <div class="text-center">
      <%= link_to "Pay Amount", all_orders_path, class:"btn btn-success" %>
    </div>
  </form>
</div>